body{
	margin: 0;
	padding: 0;
	min-width: 320px;
}
.white{
	color: #fff;
}
.white a{
	color: #fff;
	text-decoration: none;
}
.white a:hover{
	color: #fff;
	text-decoration: none;
}
.blue{
	color: #263e4f;
}
.blue.description{
	font-weight: 700;
}
h1{
	margin: 5px;
	margin-left: -5px;
	padding: 5px;
	font-family: 'Open sans', sans-serif;
	font-size: 40px;
	text-align: left;
	line-height: 60px;
	font-weight: 300;
}
h2{
	margin: 5px;
	margin-left: -5px;
	padding: 5px;
	font-family: 'Open sans', sans-serif;
	font-size: 30px;
	text-align: left;
	line-height: 50px;
	font-weight: 300;
}
h3{
	margin: 5px;
	margin-left: -5px;
	padding: 5px;
	font-family: 'Open sans', sans-serif;
	font-size: 25px;
	text-align: left;
	line-height: 40px;
	font-weight: 300;
}
h4{
	margin: 5px;
	margin-left: -5px;
	padding: 5px;
	font-family: 'Open sans', sans-serif;
	font-size: 18px;
	text-align: left;
	line-height: 30px;
	font-weight: 300;
}
h5{
	margin: 5px;
	margin-left: -5px;
	padding: 5px;
	font-family: 'Open sans', sans-serif;
	font-size: 25px;
	text-align: left;
	line-height: 25px;
	font-weight: 300;
}

.loginIcon{
	width: 20px;
}
.menuContainer{
	width: 90%;
	margin: auto;
	height: 100%;
}
.menuPosition{
	height: 100%
}
#headerWrap{
	width: 100%;
	overflow: hidden;
}
#headerWrap.headerWrapVisible{
	overflow: visible;
}
input.search{
	background: url(../images/search.png);
	background-position: right;
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	border: none;
	
	float: right;
	padding-right: 42px;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
	position: relative;
	transform: translateY(-50%);
	top: 50%;
}
.vertical-align{
	position: relative;
	transform: translateY(-50%);
	top: 50%;
}
input.search:focus {
	width: 150px;
	right: 0;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    outline-offset: 2px;
	box-shadow: 0 0 1pt 1pt lightblue;
} 

.signIn a:hover{
	color: #263e4f;
}
a:focus{
	outline: none;	
}
.signIn a:focus, .signIn a i:focus{
	color: #263e4f;
}
.sticky{
	position: fixed !important;
	height: 60px !important;
}
.menuIndex{
	z-index: 2;
	position: absolute;
	width: 100% !important;
    background: #fff !important;
    opacity: 0.9;
	height: 80px;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}
.headerSlideHolder{
	position: relative;
	z-index: 1;
}
.slick-slider{
	margin-bottom: 0;
}
.slick-dots li button::before{
	font-size: 50px;
	color: #fff;
	opacity: 1;
}
.slick-dots li.slick-active button::before{
	color: #263e4f;
}
.slick-dots{
	bottom: 0;
}
.bannerContent{
	padding-bottom: 50px;
}
.backpic1{
	width: 100%;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 100px;
	float: left;
	position: relative;
	margin-bottom: -5%;
  	padding-bottom: 5%;
}

.logoStyle{
	padding: 5px;
	float: left;
	max-height: 100%;
}
.menuButton{
	float: right;
	color: #263E4F;
	font-size: 30px;
	margin-top: 10px;
	display: none;
	background: #fff;
	padding: 5px;
	width: 50px;
	text-align: center;
	opacity: 0.9;
}
nav.menu{
	height: 100%;
}
.menuFloat{
    list-style-type: none;
    padding: 0;
	float: right;
	margin-bottom: 0;
	height: 100%;
}
.menuInsideFloat {
	float: left;
	height: 100%;
	display: table;
	/* padding-top: 8px; */
}
.menuText{
	margin: 0 5px 0 5px;
	padding: 0 15px 0 15px;
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	text-align: center;
	height: 100%;
	font-weight: 600;
	display:table-cell;
    vertical-align:middle;
}
.menuText a {
    text-decoration: none ;
	color: #263e4f;
}
.menuText a:hover {
    text-decoration: none;
	color: #263e4f;
}
.signIn{
	float: right;
	margin: 0 0 10px 0;
	padding: 0;
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 15px;
	font-weight: 600;
	width: 53%;
	border-bottom: 1px solid rgb(226, 226, 226);
}
.signIn .menuText{
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
.signIn a{
	color: #263e4f;
    line-height: 15px;
    font-size: 14px;
    margin-left: 10px;
}
.clearRight{
	clear: right;
}
.articles{
	margin: 5px 5px 0 5px;
	padding: 5px 5px 0 5px;
}
p{
    margin-bottom: 0 !important;
}
.productBackColor{
	background-color: #263e4f;
	display: inline;
	margin-left: 0;
}
.articleTextWhite{
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	text-align: left;
	line-height: 25px;
	font-weight: 400;
	color: #fff;
}
.buttonHolderHeader{
	float: left;
	margin-top: 20px;
	padding-left: 5px;
}
.buttonBlue{
	margin: 5px;
	width: 260px;
	height: 40px;
	background-color: #263e4f;
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #fff;
	line-height: 40px;
	font-weight: 300;
	border-radius: 20px;
}
.buttonBlue a{
	color: #fff;
	text-decoration: none;
	width: 260px;
	height: 40px;
	display: block;
}
.buttonBlue :hover
{
	background-color: #314a5b;
	color: #fff;
	border-radius: 20px;
	text-decoration: none;
}
.pic1{
	padding: 10px;
	width: 100%;
}
.articlePic{
	text-align: center;
}
.articleTextBlue{
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	text-align: left;
	line-height: 25px;
	font-weight: 400;
	color: #263e4f;
}

.videos .articleTextBlue{
	text-align: justify;
	padding: 0 15px 0 15px;
}
.threelBlogPosts .articleTextBlue{
	height: 275px;
	overflow: hidden;
}
.twoBlogPosts .articleTextBlue{
	height: 200px;
	overflow: hidden;
}
.buttonHolderArticle{
	float: right;
	margin: 10px 0 10px 0;
}
.buttonOrange{
	margin: 5px;
	width: 260px;
	height: 40px;
	background-color: #f0502a;
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #fff;
	line-height: 40px;
	font-weight: 300;
	border-radius: 20px;
	border: 0;
}
.buttonOrange a{
	color: #fff;
	text-decoration: none;
	width: 260px;
	height: 40px;
	display: block;
}
.buttonOrange :hover
{
	background-color: #f1603d;
	color: #fff;
	border-radius: 20px;
	text-decoration: none;
}
#characteristicsWrap{
	width: 100%;
	overflow: hidden;
	background-image: url("../images/backgroundOrangePattern.png");
	background-position: top center;
	background-repeat: no-repeat;
	padding-bottom: 5px;
}
.iconHolder{
	padding: 10px;
	width: 100%;
	clear: both;
	overflow: hidden;
	margin-bottom: 5px;
	text-align: center;
}
.iconsStyle{
	float: left;
	padding-right: 5px;
	width: 20%;
    max-width: 70px;
}
.iconsText{
	float: left;
	width: 80%;
	display: table-cell;
	vertical-align: middle;
}
.aboutUsIconHolder{
	text-align: center;
	padding-top: 10px;
}
.aboutUsIconHolder img {
	max-width: 100%;
}
.textPosition{
	text-align: center;
}
#aboutUsIconsOrangeWrap{
	width: 100%;
	overflow: hidden;
	background-color: #f1603d;
}
.aboutUsIconsOrangeHolder{
	text-align: center;
	height: 130px;
}
.aboutUsIconOrange{
	float: left;
	padding: 10px;
}
.paddingStyle{
	padding-top: 40px;
	float: left;
}
.clientsTitle{
	border-bottom: 1px solid #c9c9c9;
}
.clientsSliderHolder{
	position: relative;
	padding: 10px;
}
.sliderSlick{
	overflow: hidden;
}
.clientsSlider{
	text-align: center;
	min-height: 10em;
	position: relative;
}
.clientsSlider img{
	max-width: 80%;
	position: absolute;
	left:0;
  right:0;
  	top: 50%;
  	transform: translateY(-50%);
}

.previousArrow, .previousArrowTestim{
	position: absolute;
	left: 25px;
	width: 25px;
	height: 25px;
	top: 50%;
  	transform: translateY(-50%);
	z-index:100;
}
.nextArrow, .nextArrowTestim {
	position: absolute;
	right: 25px;
	width: 25px;
	height: 25px;
	top: 50%;
  	transform: translateY(-50%);
	z-index:100;
}
#clientsQuotes{
	width: 100%;
	overflow: hidden;
	background-image: url("../images/backgroundBluePattern.png");
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
}
.whiteQuote{
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	font-weight: 400;
	color: #fff;
}
.profilePicStyle{
	width: 75px;
	height: 75px;
}
#footerBackWrap{
	width: 100%;
	overflow: hidden;
	background-color: #263e4f;
	border-top: 10px solid #f1603d;
}
.contactForm{
	padding: 10px 0 10px 0;
}
.contactLabels{
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	text-align: left;
	color: #fff;
	line-height: 20px;
	font-weight: 600;
}
.socialIcons{
	padding: 5px;
	max-width: 55px;
}
.menuTextfooter{
	margin: 5px;
	padding: 5px;
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	text-align: left;
	line-height: 25px;
	font-weight: 300;
}
.menuTextfooter a{
	color: #fff;
	text-decoration: none;
}
.menuTextfooter :hover
{
	color: #fff;
	text-decoration: none;
}
.logoFooter{
	width: 100%;
	padding-bottom: 15px;
}


/* About Us */

.headerAboutInteractive{
	position: relative;
	z-index: 1;
}
.backpic2{
	width: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;

}
.pinCoordinates{
	height: 100%;
	z-index: 1000;
}
.pinPosition{
	position: absolute;
}
.pinPosition:hover > .pinInfoHolder{
	display: block;
}
.pinInfoHolder{
	background-color: #fff;
	position: relative;
	z-index: 10000;
	max-width: 360px;
	display: none;
	overflow: hidden;
	box-shadow: 0px 0px 5px #888888;
}
.pinThumb{
	padding:0;
}
.pinPic{
	width: 100%;
}
.pinText{
	font-family: 'Open sans', sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	font-weight: 400;
	color: #263e4f;
	padding: 5px;
}
.pic2{
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.backgroundOrangeFlat{
	background-color: #f0502a !important;
	width: 100%;
	overflow: hidden;
}
.backgroundLightBlueFlat{
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px;
	background-color: #e8eef3;
}
.backgroundOrangeBorder{
	border-top: 10px solid #f1603d;
}

/* Products */

.backgroundBlueBorder{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #263e4f;
}
.buttonScheduleDemoHolder{
	text-align: center;
}
.buttonScheduleDemo{
	width:299px;
	height: 107px;	
	background-image: url("../images/schduleDemoButton.png");
	background-repeat: no-repeat;
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: 18px;
	font-weight: 400;
	background-color: transparent;
	color: #fff;
	margin: 10px;
	border: none;
	padding-left: 70px !important;
}
.products{
	padding-bottom: 10px;
}
.products .aboutUsIconHolder img{
	width: 50%;
	max-width: 150px;
}
.products .aboutUsIconHolder .articleTextBlue{
	text-align: center;
}
.products .articleTextBlue{
	height: 50px;
	overflow: hidden;
}
/* Contact */

.contactLabelsDemo{
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	text-align: left;
	color: #263e4f;
	line-height: 20px;
	font-weight: 400;
}
.artThumb{
	padding-top: 10px;
}
.pic3{
	width: 100%;
	margin-top: 10px;
}
.pic4{
	width: 100%;
}
.no-margin{
	margin: 0;
}
.contactTextInfo{
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	text-align: left;
	line-height: 24px;
	font-weight: 300;
}
.contactTextInfo a{
	color: #fff;
	text-decoration: none;
}
.contactTextInfo a:hover
{
	color: #415c6f;
	text-decoration: none;
}

/* Article */

.leftMenuHolder{
	float: left;
	width: 30%;
	background-color: #263e4f;
	padding: 10px;
}
.articleTextWhite a{
	color: #fff;
	text-decoration: none;
}
.articleTextWhite a:hover
{
	color: #fff;
}
.topContent, .relatedArticles{
	margin: auto;
	width: 80%;	
}
.topContent .articleTextBlue{
	text-align: justify;
	
}
.readMore{
	background-color: #263e4f;
	border-radius: 20px;
	margin: 10px 0px 10px 0px;
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    border-radius: 20px;
}
.readMore a{
	color: #fff;
	display: block;
	margin: 10px 0 10px 0;
	padding-left: 10px;
    font-family: 'Open sans', sans-serif;
}
.readMore a:hover{
    color: #fff;
	background-color: #314a5b;
    text-decoration: none;
	border-radius: 20px;
}
/* About us */

.pagesbox
{
	margin: auto;
	padding-bottom: 20px;
    max-width: 535px;
	padding-bottom: 50px;
}
.pages
{
	margin: 5px;
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	text-align: left;
	color: #263e4f;
	line-height: 20px;
	font-weight: 600;
	text-align: center;
	float: left;
	width: 30px;
}
.pages a{
	color: #263e4f;
	display: block;
	padding: 5px;
	width: 100%;
	text-decoration: none;
}
.pages a:hover{
	color: #263e4f;
	background-color: #e8eef3;
	text-decoration: none;
}
.curr_page
{
	color: #263e4f;
	background-color: #e8eef3;
	text-decoration: none;
}
.curr_page a{
	color: #263e4f;
	text-decoration: none;
}
.curr_page a:hover{
	color: #263e4f;
	text-decoration: none;
}


/* Videos */

.playIcon{
	position: absolute;
    width: 25%;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 38%;
    top: 15%;
}

.videos{
	padding-bottom: 10px;
}
/* Resources */

.resourcePics{
	width: 100%;
	border: 1px solid #263e4f;
}
.resourceIcon{
	/* line-height: 369px !important; */
	color: #263e4f;
	font-size: 6em !important;
}
.animatedContainer {
	opacity: 0;
}
.animated{
	opacity: 1;
}
.resources .aboutUsIconHolder  .articleTextBlue{
	text-align: justify;
	height: 75px;
	overflow: hidden; 
}
.resources {
	padding-bottom: 10px;
}
blockquote{
    border-left: none !important;
}

.circle{
	background: url('../images/circle.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	height: 300px;
	width: 100%;
	margin: auto;
	line-height: 300px;
	text-align: center;
	padding: 30px;
	position: relative;
}
.circle h4{
	color: #F37637;
	font-weight: bold;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	width: 66%;
	text-align: center;
}
.aboutUsIconsOrangeHolder ul{
	padding-left: 0;
	text-align: center; 
}

#contactForm{
	background: #464646;
	border-top: 10px solid #f1603d;
}
.contactFormInput{
	height: 50px;
	width: 100%;
	padding: 10px;
	line-height: 50px;
	background: #b2b2b2;
	border: none;
	margin-top: 20px;
}
textarea.contactFormInput{
	height: 150px;
	padding-top: 0px;
}
.margin15{
	margin: 20px;
}
/* RESPONSIVE */

/* Responsive 1200 */
@media only screen 
and (max-width : 1200px) {
	.menuPosition{
		margin: 0 !important;
	}
	.menuContainer{
		width: 100%;
		margin: auto;
	}
	.backpic1{
	background-size: auto 100%;
	background-position: top center;
	}
	.backpic2{
	background-size: auto 100%;
	background-position: top center;
	}
	.previousArrow{
		left: 5px;
	}
	.nextArrow {
		right: 5px;
	}
	.previousArrowTestim{
		left: 5px;
	}
	.nextArrowTestim{
		right: 5px;
	}
}
/* Responsive 1024 */
@media only screen 
and (max-width : 1024px) {
	.pic4{
		display: none;
	}
	.menuText{
	font-size: 13px;
	}
	.pinIcon{
		width: 20px;
	}
	.topContent, .relatedArticles{
		width: 90%;	
	}
}
/* Responsive 991 */
@media only screen 
and (max-width : 991px) {
	#characteristicsWrap{
		padding-bottom: 10px;
	}
	.iconsText{
		height: auto;
	}
}

/* Responsive 900 */
@media only screen 
and (max-width : 900px) {
	.menuInsideFloat {
		float: none !important;
		width: 100%;
		background: #fff;
		opacity: 0.9;
	}
	.menuFloat{
	width: 100%;
	float: none !important;
	display: none;
	background: #fff;
	opacity: 0.9;
	}
	.menuText a {
    width: 100% !important;
	float: none !important;
	}
	.signIn{
		display: none;
	}
	.logoStyle{
	float: none;
		margin-top: 0;
	}
	nav{
		display: inline-block !important;
		width: 100%;
	}
	.pinPic{
		display: none;
	}
	.menuButton{
	display: block;
	}
	.search, .clearRight{
		display: none;
	}
}
/* Responsive 768 */
@media only screen 
and (max-width : 768px) {

	.aboutUsIconOrange{
	float: none;
	}
	.paddingStyle{
	float: none;
	text-align: center;
	padding-top: 0px;
	}
	.aboutUsIconsOrangeHolder{
	height: 100%;
	}
	.leftMenuHolder{
	float: none;
	width: 100%;
	}
	.topContent, .relatedArticles{
	float: none;
	width: 100%;
	}
	.products .aboutUsIconHolder img{
		width: auto;
	}
	.threelBlogPosts .articleTextBlue{
		height: auto;
	}
	.twoBlogPosts .articleTextBlue{
		height: auto;
	}
	.circle{
		background-size:  auto 100%;
	}
	.circle h4{
		width: 40%;
		left: 25%;
		right: 0;
	}
}
/* Responsive 600 */
@media only screen 
and (max-width : 600px) {
	.iconsStyle{
	float: none;
	}
	.iconsText{
	float: none;
	width: 100%;
	}
	.textPosition1{
	text-align: center;
	}
	#characteristicsWrap{
	background-image: none;
	background-color: #f1603d;
	}
	.iconsText{
		display: block;
	}
}
/* Responsive 480 */
@media only screen 
and (max-width : 480px) {
	.pinCoordinates{
		display: none;
	}
	.aboutUsIconOrange{
	float: none;
	}
	.paddingStyle{
	float: none;
	text-align: center;
	padding-top: 0px;
	}
	.aboutUsIconsOrangeHolder{
	height: 180px;
	}
	.logoStyle{
		height: 80%
	}
	.circle h4{
		width: 80%;
		left: 2%;
		right: 0;
	}
}

